@model IEnumerable<Aula1.Data.Curso>

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>
    @ViewData["Title"]
</h1>

<form>
    <label>Pesquisa do curso:</label>
    <input type="text" placeholder="curso a pesquisar"/>
    <button type="submit">pesquisar</button>
</form>

<p>
    <a asp-action="Create">Adicionar Curso</a>
</p>
<a asp-action="Index">Todos</a>
<a asp-action="Index" asp-route-disponivel="true">Activos</a>
<a asp-action="Index" asp-route-disponivel="false">Inativos</a>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
