@using Aula1.Models.ViewModels
@model PesquisaCursoViewModel

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>
    @ViewData["Title"]
</h1>
   
<div class="container bg-white">
    @if(!(string.IsNullOrEmpty(Model.TextoAPesquisar))){
        <p>Resultado da pesquisa por "@Model.TextoAPesquisar":</p>

        @if(Model.NumResultados == 0){
            <p class="alert alert-warning">
                Não foi possível encontrar cursos com os dados introduzidos. Por favor, reveja a sua
                pesquisa
            </p>
        }
    }else {
            <p>Existe(m) @Model.NumResultados curso(s) disponiveis</p>
    }
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        @foreach (var item in Model.ListaDeCursos)
        {
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        @if (string.IsNullOrWhiteSpace(Model.TextoAPesquisar))
                        {
                            <h4 class="my-0 fw-normal">
                                @Html.DisplayFor(modelItem => item.Nome)
                                (@Html.DisplayFor(modelItem => item.Categoria.Nome))
                            </h4>
                        }else{
                            <h4 class="my-0 fw-normal">
                                @Html.Raw(item.Nome.ToString().ToLower().Replace(
                                    Model.TextoAPesquisar.ToLower(),
                                "<span class=\"bg-warning\">"+Model.TextoAPesquisar+"</span>"))
                                (@Html.DisplayFor(modelItem => item.Categoria.Nome))
                            </h4>
                        }
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">

                            @Html.DisplayFor(modelItem => item.Preco)
                            <small class="text-muted fw-light"></small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            @if (string.IsNullOrWhiteSpace(Model.TextoAPesquisar))
                            {
                                <li class="my-0 fw-normal">
                                    @Html.DisplayFor(modelItem => item.DescricaoResumida)
                                </li>
                            }
                            else
                            {
                                <li class="my-0 fw-normal">
                                    @Html.Raw(item.DescricaoResumida.ToString().ToLower().Replace(
                            Model.TextoAPesquisar.ToLower(),
                            "<span class=\"bg-warning\">"+Model.TextoAPesquisar+"</span>"))
                                </li>
                            }
                        </ul>
                        <a class="btn btn-lg btn-outline-primary"
                            asp-controller="Cursos" asp-action="Details" asp-route-id="@item.Id">
                            Saber
                            mais
                        </a>
                        <a class="btn btn-lg btn-success"
                            asp-controller="Cursos" asp-action="Comprar" asp-route-id="@item.Id">
                            Comprar
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>    
</div>
