@model IEnumerable<Aula1.Models.Agendamento>

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracaoHoras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracaoMinutos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraDoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.PrimeiroNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.UltimoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracaoHoras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracaoMinutos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraDoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.PrimeiroNome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UltimoNome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
